@using Core.Entities
@using Core.Models
@model PaginatedResult<Note>

@{
	ViewData["Title"] = "Index";
}

<div class="command-wrapper">
	<div class="left">
		<div class="btn-group">
			<button class="btn btn-secondary button btn-sm" type="button">
				Small split button
			</button>
			<button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
			</div>
		</div>
	</div>
	<div class="right">
		<a class="button" asp-action="create">Create <span class="material-icons">add</span></a>
	</div>
</div>

@foreach (var item in Model.Data)
{
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.NoteId)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Title)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Body)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.CreatedDate)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.LastModifiedDate)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
			@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
			@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
		</td>
	</tr>
}


@*<h1>Index</h1>

	<p>
		<a asp-action="Create">Create New</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.NoteId)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Title)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Body)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.CreatedDate)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.LastModifiedDate)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
	@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.NoteId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Body)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreatedDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LastModifiedDate)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
					@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
					@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
				</td>
			</tr>
	}
		</tbody>
	</table>*@
